@font-face {
    font-family: 'Poppins-Light';
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
















@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'GothamBook';
    src: url(https://www.nxtautomate.com/fonts/GothamBook.ttf);
}

@font-face {
    font-family: 'Gellix-SemiBold';
    src: url(../fonts/Gellix-SemiBold.ttf);
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Roobert-Regular';
    src: url(../fonts/Roobert-Regular.ttf);
}

 @font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
 @font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}
 @font-face {
    font-family: 'Mont-SemiBold';
    src: url(https://www.nxtautomate.com/fonts/Mont-SemiBold.ttf);
}
 @font-face {
    font-family: 'MONT-BOLD';
    src: url(https://www.nxtautomate.com/fonts/MONT-BOLD.ttf);
}
 @font-face {
    font-family: 'FractulAlt-Light';
    src: url(../fonts/FractulAlt-Light.ttf);
}
  @font-face {
    font-family: 'FractulAlt-Regular';
    src: url(../fonts/FractulAlt-Regular.ttf);
}
   @font-face {
    font-family: 'FractulAlt-Medium';
    src: url(../fonts/FractulAlt-Medium.ttf);
}
   @font-face {
    font-family: 'FractulAlt-SemiBold';
    src: url(../fonts/FractulAlt-SemiBold.ttf);
}
 